

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//code//
:root {
    --text-dark: #000000;
    --text-light: #727274;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Montserrat", sans-serif;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .btn {
    max-width: fit-content;
    padding: 0.75rem 3.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--header-font);
    white-space: nowrap;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 2rem;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .btn:hover {
    color: var(--text-dark);
    background-color: var(--extra-light);
  }
  
  img {
    display: flex;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
  }
  
  .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark);
  }
  
  .nav__logo img {
    max-width: 150px;
  }
  
  .logo-dark {
    display: none;
  }
  
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
  }
  
  .nav__links.open {
    transform: translateY(0);
  }
  
  .nav__links a {
    font-weight: 900;
    white-space: nowrap;
    color: var(--white);
    transition: 0.3s;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .nav__links .btn {
    padding-inline: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 5px;
  }
  
  .header__container {
    display: grid;
    gap: 2rem;
  }
  
  .header__image {
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }
  
  .header__image img {
    max-width: 450px;
    margin-inline: auto;
  }
  
  img.header-bg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 350px;
    opacity: 0.05;
    z-index: -1;
  }
  
  .header__image__content {
    text-align: center;
  }
  
  .header__image__content h4 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .header__content {
    text-align: center;
  }
  
  .header__content h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    line-height: 3rem;
  }
  
  .header__content p {
    font-weight: 500;
    color: var(--text-light);
  }
  
  .product {
    overflow: hidden;
    background: black;
  }
  
  .product__grid {
    margin-bottom: 4rem;
    display: grid;
    gap: 4rem;
  }
  
  .product__image img {
    max-width: 350px;
    margin-inline: auto;
    transform: rotate(-15deg);
  }
  
  .product__content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-direction: column;
  }
  
  .product__card {
    text-align: center;
  }
  
  .product__card h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--white);
  }
  
  .product__card p {
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--text-light);
  }
  
  .product__card a {
    font-weight: 500;
    color: var(--text-light);
    text-decoration: none;

  }
  
  .product__card a:hover {
    color: var(--white);
    transition: all ease;
    transition-duration: .5s;
  }
  
  .product__colors {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .product__colors > div {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-light);
    border-radius: 100%;
    cursor: pointer;
  }
  
  .product__colors > div:nth-child(1) {
    background-color: #3a3a3a;
  }
  
  .product__colors > div:nth-child(2) {
    background-color: #efefef;
  }
  
  .product__colors > div:nth-child(3) {
    background-color: #da372b;
  }
  
  .product__colors > div:nth-child(4) {
    background-color: #2d6890;
  }
  
  .product__colors > div:nth-child(5) {
    background-color: #754e27;
  }
  
  .product__btn {
    text-align: center;
  }
  
  .product__btn .btn {
    color: var(--text-dark);
    background-color: var(--white);
  }
  
  .product__btn .btn:hover {
    background-color: var(--extra-light);
  }
  
  .store__container h2 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
  }
  
  .store__container p {
    margin-bottom: 4rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
  }
  
  .swiper {
    width: 100%;
    padding-bottom: 5rem;
  }
  .swiper-wrapper{
    box-shadow: 0 0 0.2rem red;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }
  
  .swiper-slide {
    max-width: 400px;
  }
  
  .store__card h4 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
  }
  
  .store__card img {
    max-width: 325px;
    margin-inline: auto;
    margin-bottom: 2rem;
  }
  
  .store__card h3 {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--text-dark);
  }
  
  .footer {
    background-color: var(--text-dark);
  }
  
  .footer__container img {
    margin-bottom: 2rem;
    max-width: 225px;
    margin-inline: auto;
  }
  
  .footer__socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    padding: 2px 7px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 100%;
  }
  
  .footer__socials a:hover {
    color: var(--white);
    background-color: var(--text-light);
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
  }
  
  @media (width > 768px) {
    nav {
      position: static;
      padding-block: 2rem 0;
      padding-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .nav__header {
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo img {
      max-width: 175px;
    }
  
    .logo-white {
      display: none;
    }
  
    .logo-dark {
      display: flex;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
      background-color: transparent;
      transform: none;
    }
  
    .nav__links a {
      color: var(--text-dark);
    }
  
    .nav__links a:hover {
      color: var(--text-light);
    }
  
    .nav__links .btn {
      color: var(--white);
      background-color: var(--text-dark);
    }
  
    .header__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .header__image {
      grid-area: 1/2/2/3;
    }
  
    .header__image img {
      margin-inline-start: unset;
    }
  
    .header__image__content {
      position: absolute;
      right: 0;
      bottom: 2rem;
    }
  
    .header__content {
      text-align: left;
    }
  
    .header__content h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
  
    .product__grid {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .product__card {
      text-align: left;
    }
  
    .product__colors {
      justify-content: flex-start;
    }
  }
  






